:root {
    
    --w-login-fullscreen-background: radial-gradient(100% 300.28% at 100% 0%,#8e070f 0%,#e41c24 32.94%,#000000 49.9%,#67060c 50.2%,#e41c24 100%);

    .login h1 {
        color: hsl(0, 0%, 0%);

    }

    .w-field__label {
        color: #000000;
    }
    .login .button{
        background-color:#d8101d;
    }
    .button:hover {
        
        border-color: #67060c;
        background-color: #67060c;
    }
    input[type=date]:hover, input[type=datetime-local]:hover, input[type=email]:hover, input[type=file]:hover, input[type=month]:hover, input[type=number]:hover, input[type=password]:hover, input[type=search]:hover, input[type=tel]:hover, input[type=text]:hover, input[type=time]:hover, input[type=url]:hover, input[type=week]:hover, textarea:hover{
        border-color: #000000;
        color: #000000;
    }
    w-field__input{
        border-color: #000000;
        color: #000000;
    }
    --w-color-border-button-outline-default: #67060c;
    --w-color-focus: #8e070f;

    .login .reset-password {
        color: #000000;
    }
    .messages .success {
        background-color: #e41c24;
        color: var(--w-color-white);
    }
    --w-font-sans: DM Sans;
    --w-font-mono: Nunito;
    --w-color-surface-button-default:#E41C24;
}


:root{
    --w-font-sans: DM Sans;
    --w-font-mono: Nunito;
    --w-color-primary:#E41C24;
    --w-color-secondary:#E41C24;
    --w-color-surface-button-default:#E41C24;
    
    .sidebar-loading__inner, .sidebar__inner{
        background-color: #E41C24;
    }
    .button.button-secondary {
        background-color: initial;
        color: #900;
    }
    .c-page-explorer__item{ 
        background-color: #e41c24;
        border-color:#E41C24;
    }
    .c-page-explorer__item__link:focus, .c-page-explorer__item__link:hover {
        background-color: #e41c24
    }
    .c-page-explorer__item {
        background-color: #8e070f;
    .sidebar-nav-toggle--mobile {
        background-color: #E41C24;
    }
   
    .sidebar-menu-item--active>a{
        border-color: #fcfcfc;
        background-color: #000000;
    }
    .w-summary{
        color: #000000;
    }
    .w-header h1, .w-header h2{
        color: #000000;
    }
    .w-panel__heading {
        color:#e41c24;
    }
    .listing .title .title-wrapper a:hover, .listing .title h2 a:hover{
        color: #e41c24 ;
    }
    .listing .title .title-wrapper a, .listing .title h2 a{
        color: #000000;
    }
       
    .w-bg-surface-menus {
        background-color:  #e41c24;
    }
    .sidebar-menu-item--active {
        background-color: #000000(--w-color-surface-menu-item-active);
        text-shadow: -1px -1px 0 var(--w-color-black-35);
    }
    .sidebar-footer {
        background-color: #e41c24;
        
    }
    .sidebar-menu-item sidebar-menu-item--active{
        background-color: #e41c24;

    }
    .sidebar-main-menu w-scrollbar-thin{
        background-color: #e41c24;
    }
    .button {
        background-color: #900;
        border: 1px solid  #e41c24;
     }
    
    .button:hover{
        color: #900;
    }
    
    .button.button-secondary {
        background-color:  #900;
        
    }
    
    .dropdown .dropdown-toggle:hover {
        background-color: #900;
    }
    .footer__container {
        background: #900;
    }
    .sidebar-sub-menu-panel {
        background-color: #000;
    }
    .sidebar-panel{
        background-color: #000;
    }
    .sidebar-menu-item--active {
        background-color: #000;}
    body.ready .sidebar-menu-item__link:hover {
       
        background-color: rgb(0, 0, 0); /* Change the background color to red on hover */
    }
  
    .sidebar-sub-menu-panel {
        background-color: black;
    }
    .c-page-explorer__drawer{
        background-color: black;
    }
    .c-page-explorer__header__title {
        background-color: black;
    }
    .c-page-explorer__item {
        background-color:  black;
    }
    .w-group:hover .group-hover\:w-text-black{
        background-color:  black;
    }
    .sidebar-wagtail-branding__icon-wrapper:hover {
        background-color:  black;
    }
    .c-page-explorer__item__link:focus, .c-page-explorer__item__link:hover {
        background-color: #e41c24
    }
    .c-page-explorer__item {
        background-color: #8e070f;

    }
    --w-color-surface-button-default:#E41C24;

    .button {
        background-color: #900;
        border: 1px solid  #e41c24;
     }
    
    .button:hover{
        color: #900;
    }
    
    .button.button-secondary {
        background-color:  #900;
        
    }
    
    .dropdown .dropdown-toggle:hover {
        background-color: #900;
    }
    .footer__container {
        background: #900;
    }
    
}


}
.c-page-explorer__item__link:focus, .c-page-explorer__item__link:hover {
    background-color: #e41c24
}
.c-page-explorer__item {
    background-color: #8e070f;
}

a:hover{
    color:  #8e070f;

 }
 .button {
    background-color: #900;
    border: 1px solid  #e41c24;
 }

.button:hover{
    color: #900;
}

.button.button-secondary {
    background-color:  #900;
    
}

.dropdown .dropdown-toggle:hover {
    background-color: #900;
}
.footer__container {
    background: #900;
}
a:hover{
    color:  #8e070f;
 }
 a:active, a:hover{
    color:  #8e070f;
 }
 .sidebar-sub-menu-panel {
    background-color: #000;}
.sidebar-panel{
        background-color: #000;
}

.sidebar-menu-item--active {
    background-color: #000;}

:host, :root{
         --w-color-primary:#E41C24;
        --w-color-secondary:#E41C24;
        --w-color-surface-menus:#900;
        --w-color-surface-button-default:#E41C24;
        --w-color-surface-button-default:#e41c24;
        .w-header {
        color: #900;
        }
      

        a:hover{
            color:  #8e070f;
         }
         a:active, a:hover{
            color:  #8e070f;
         }
         .button {
            background-color: #900;
            border: 1px solid  #e41c24;
         }
        
        .button:hover{
            color: #900;
        }
        
        .button.button-secondary {
            background-color:  #900;
            
        }
        
        .dropdown .dropdown-toggle:hover {
            background-color: #900;
        }
        .footer__container {
            background: #900;
        }
        .sidebar-sub-menu-panel {
            background-color: #000;
        }
        .sidebar-panel{
            background-color: #000;
        }
        
    .sidebar-menu-item--active {
        background-color: #000;}
}